
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700');

// Variables
@import "./flatly/_variables";
@import "variables";



// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./flatly/_bootswatch.css";



@import "custom-inputs";
@import "admin";
@import "main";
@import "notes";
@import "participants";
@import "tasks";
@import "timer";