.participants-list {

    .button-bar {
        -webkit-appearance: none;
        appearance: none;
        background: none;
        border: none;
        display: none;
    }

    &:hover .button-bar {
        display: block;
    }
}

