.tasksapp {

    .edit {
        outline: none;
        border-color:rgba(0,0,0,0.1);
        line-height: 1.4em;
        position: relative;
        background: rgba(255,255,255,0.5);
        width:100%;
    }

    .task-list {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            .button-bar {
                -webkit-appearance: none;
                appearance: none;
                background: none;
                border: none;
                display: none;
                margin-top:5px;
                margin-right:-5px;
                margin-bottom:-10px;
                margin-left:-5px;
            }
            &:hover .button-bar {
                display: block;
            }


            &.editing .edit {
                display: block;
                padding: 5px;
            }

            &.editing .view {
                display: none;
            }

            &.completed label {
                text-decoration: line-through;
            }

            label {
                font-weight: normal;
                word-break: break-all;
            }

            .edit {
                display: none;
            }

        }
    }
    .panel-footer {

        .btn {
            outline: none;
        }
        .clean-tasks {
            cursor:pointer;
            margin-top:5px;
        }

        &:hover .clean-tasks {
            color:rgba(0,0,0,.8);
        }
    }
}