.timerapp {
    .panel-body {

        .counter {
            margin-top: 0px;
            margin-bottom: 10px;
            text-align:center;
            font-family: Orbitron;
        }

        .controllers {

            .btn, .btn:active, .btn:focus {
                outline:0 !important;
            }

        }
    }
    .break {
        background-color: $btn-danger-bg;
        color: $btn-danger-color;
        border:2px solid $btn-danger-border;
        padding:20px;
        font-style: italic;

        .end-break {
            font-style: none;
        }
    }

}